<template name="layout">
	<div class="container-fluid">
		<header>
			{{> nav}}
		</header>
	</div>
	<div class="container" id="content">
		{{> yield}}
	</div>
</template>

<template name="nav">
	<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button id="nav-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Inventory Management</a>
				</div><!-- /.navbar-header -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							{{#if currentUser}}
								<button class="btn btn-primary dropdown-toggle loginDrop" type="button" data-toggle="dropdown">{{currentUser.username}}<span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="/" class="logout">Logout</a></li>
								</ul>
							{{else}}
								<button class="btn btn-primary dropdown-toggle loginDrop" type="button" data-toggle="dropdown">Register / Login<span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="/login">Login</a></li>
									<li><a href="/register">Register</a></li>
								</ul>
							{{/if}}
						</li>
						{{#if currentUser}}
							{{#if isAdmin}}
								<li class="dropdown">
									<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">View<span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li><a href="/viewAssignments">Assignments</a></li>
										<li><a href="/viewLocations">Locations</a></li>
										<li><a href="/view">View Inventory</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add<span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li><a href="/addAssignments">Assignments</a></li>
										<li><a href="/addLocation">Locations</a></li>
										<li><a href="/addInventory">Devices</a></li>
									</ul>
								</li>
								{{else}}
								<li><a href="/view">View Inventory</a></li>
							{{/if}}
						{{/if}}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
</template>