<template name="register">
	<form id="register-form" action="action" role="form">
		<input type="username" id="account-username" placeholder="Username" class="form-control"/> <br>
		<input type="password" id="account-password" placeholder="Password" class="form-control"/> <br>
		<input type="text" id="fName" placeholder="First Name" class="form-control"/> <br>
		<input type="text" id="lName" placeholder="Last Name" class="form-control"/> <br>
		<select id="locationId" name="locationId">
			{{#each index in location}}
				<option value="{{index.locationId}}">{{index.locationName}}</option>
			{{/each}}
		</select>
		<input type="submit" id="create-account" value="Create an Account" class="btn btn-default"/>
	</form>
</template>