<template name="viewInventory">
	<div class="results">
		<table>
			<tr>
				<td>Manufacturer</td>
				<td>Model</td>
				<td>Serial Number</td>
				<td>Device Type</td>
				{{#if isAdmin}}
				<td>Date Created</td>
				<td>Delete Item</td>
				<td>Update Item</td>
				{{/if}}
			</tr>
			{{#each item in device}}
				<tr>
					<td>{{item.make}}</td>
					<td>{{item.model}}</td>
					<td>{{item.serialNumber}}</td>
					<td>{{item.deviceType}}</td>
					{{#if isAdmin}}
						<td>{{item.createdAt}}</td>
						<td><button id="{{item._id}}" class="delete">&times;</button></td>
						<td><button id="{{item._id}}" class="update">Update</button></td>
					{{/if}}
				</tr>
			{{/each}}
		</table> 
	</div>
</template>