<template name="addAssignments">
	<form id="insertAssignmentForm" action="action" role="form">
		<select id="deviceType" name="deviceType">
			{{#each index in deviceData}}
				<option value="{{index.serialNumber}}">{{index.make}}, {{index.model}}, {{index.serialNumber}}</option>
			{{/each}}
		</select>

		<select id="staff" name="staff">
			{{#each index in staffData}}
				<option value="{{index._id}}">{{index.profile.fName}}, {{index.profile.lName}}</option>
			{{/each}}
		</select>

		<input type="submit" id="insertAssignment" value="Add Assignment" class="btn btn-default"/>
	</form>
</template>