<template name="viewLocations">
	<div class="results">
		<table>
			<tr>
				<td>Location ID</td>
				<td>Name</td>
				<td>Address</td>
			</tr>
			{{#each item in list}}
				<tr>
					<td>{{item.locationId}}</td>
					<td>{{item.locationName}}</td>
					<td>{{item.address.street}}, {{item.address.city}}</td>
				</tr>
			{{/each}}
		</table> 
	</div>
</template>