<template name="updateDevice">
	<div>
		{{#with formData}}
			<form id="updateDeviceForm" action="action" role="form">
				<label>Make</label>
				<input type="text" id="make" placeholder="Who made it?" value="{{make}}">
				<label>Model</label>
				<input type="text" id="model" placeholder="Model" value="{{model}}">
				<label>Serial Number</label>
				<input type="number" id="serialNumber" placeholder="Serial Number" value="{{serialNumber}}">
				<select id="deviceType" name="deviceType" selected="{{deviceType}}">
						<option value="Desktop">Desktop</option>
						<option value="Monitor">Monitor</option>
						<option value="Laptop">Laptop</option>
						<option value="Phone">Phone</option>
						<option value="Projector">Projector</option>
						<option value="Other">Other</option>
				</select>
				<input type="submit" id="create-account" value="Update" class="btn btn-default"/>
			</form>
		{{/with}}
	</div>
</template>