<template name="login">
	<form id="login-form" action="action">
      <div>
        <input type="username" id="login-username" placeholder="Username"/> <br>
        <input type="password" id="login-password" placeholder="Password"/> <br>
        <input type="submit" id="login-button" value="Sign in" />
     </div>
   </form> 
</template>