.results {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #1e0202;
}
.results table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.results tr:nth-child(odd) { 
	background-color:#e5e5e5; 
}

.results tr:nth-child(even) { 
	background-color:#ffffff; 
}

.results td{
	vertical-align:middle;
	
	
	border:1px solid #1e0202;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}

.results tr:first-child td{
	background:-o-linear-gradient(bottom, #00bf00 5%, #00bf00 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00bf00), color-stop(1, #00bf00) );
	background:-moz-linear-gradient( center top, #00bf00 5%, #00bf00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00bf00", endColorstr="#00bf00");	
	background: -o-linear-gradient(top,#00bf00,00bf00);

	background-color:#00bf00;
	border:0px solid #1e0202;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}