<template name="viewAssignments">
	<div class="results">
		<table>
			<tr>
				<td>Serial Number</td>
				<td>Staff</td>
				<td>Assigned Date</td>
				<td>Location</td>
				<td>Delete</td>
			</tr>
			{{#each item in device}}
				<tr>
					<td>{{item.serialNumber}}</td>
					<td>{{item.staffName}}</td>
					<td>{{item.assignmentDate}}</td>
					<td>{{item.locationId}}</td>
					<td><button id="{{item._id}}" class="delete">&times;</button></td>
				</tr>
			{{/each}}
		</table> 
	</div>
</template>