<template name="addLocation">
	<div class="col-xs-8">
			{{# autoForm collection="Locations" id="insertDeviceForm" type="insert" class="form-horizontal"}}
				{{#each afFieldNames}}
					{{> afQuickField name=this.name options=afOptionsFromSchema}}
				{{/each}}
			<button  id="event-submit" type="submit" class="btn btn-primary">Insert</button>
			{{/autoForm}}
	</div>
</template>